<a href="{{ link.url }}" class="block static my-4 mx-5 sm:m-5 cursor-pointer items-center text-center text-lg rounded-xl border-2 border-slate-700 bg-slate-100 text-black shadow px-4 py-3 hover:bg-sky-300 transition">
    <i class="block absolute text-xl fa-fw {{ link.icon }}"></i>
    <span>{{ link.name }}</span>
</a>
