<header class="main-header content-wrapper" style="max-width: none">

  <div style="background-color: #1d2241; text-align: center">
    <a href="{{ site.baseurl }}/">
      <img src="/files/theme/logo_text.png" style="width: 70%"/>
    </a>
  </div>

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>


    <a href="{{ site.meetup_url }}"><i class="fab fa-meetup"></i> Groupe meetup</a>
    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i> Twitter</a>
    <a href="https://afup.org"><i class="fa fa-building"></i> afup.org</a>
    <a href="https://afup.org/association/devenir-membre"><i class="fa fa-user"></i> Devenir membre</a>

    <a href="{{ "/feed" | prepend: site.baseurl }}"><i class="fas fa-rss"></i> RSS</a>

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

  {% if page.has_left_logo %}
  {% else %}

  {% endif %}


</header>



<style>
  .tmpnormalsize .content-wrapper {
    margin-left: 0;
    margin: 0 auto;
  }

  .tmpnormalsize {
    background-color: #e9e9e9;
  }

  .tmpnormalsize main,
  .tmpnormalsize footer {
    background-color: #fff;
  }
</style>
