{% extends "_layout.html.twig" %}

{% block main %}

    <div class="mx-auto my-auto text-center">
        <h1 class="text-9xl text-white font-black mb-32 drop-shadow-lg">404</h1>

        <a href="/" class="text-3xl text-white hover:underline">Retour à l'antenne</a>

        <div class="mt-32">
            <a href="https://afup.org" class="text-xl text-white hover:underline">afup.org</a>
        </div>
    </div>

{% endblock %}
